a {
	color: black;
}

@font-face {
	font-family: 'Inconsolata';
	src: url(../fonts/Inconsolata-Regular.ttf);
}

@font-face {
	font-family: 'PlayfairDisplayRegular';
	src: url(../fonts/PlayfairDisplayRegular.ttf);
}

@font-face {
	font-family: 'PlayfairDisplayBlack';
	src: url(../fonts/PlayfairDisplay-Black.otf);
}

@font-face {
	font-family: 'PlayfairDisplayItalic';
	src: url(../fonts/PlayfairDisplayItalic.ttf);
}

@font-face {
	font-family: 'Ubuntu Light';
	src: url(../fonts/Ubuntu-L.ttf);
}

.right {
	float: right;
}

.left {
	float: left;
}

.ar {
	text-align: right;
}

.ac {
	text-align: center;
}

.wrapper {
	width: 1061px;
	margin: 0 auto;
}

header {
	padding: 70px 0;
}

.logo {
	font-family: 'Inconsolata';
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.menu {
	font-family: 'PlayfairDisplayRegular';
	font-size: 14px;
	text-transform: uppercase;
}

.menu__list {
	list-style: none;
}

.menu__list li {
	float: left;
}

.menu__list a {
	color: #626262;
	margin: 5px 0px 5px 95px;
	text-decoration: none;
}

.menu__list a:hover {
	color: #aaa;
}

.cover {
	background: url('../images/cover.jpg');
	height: 494px;
	margin-bottom: 98px;
}

.pagedesc {
	font-family: 'Ubuntu Light';
	font-size: 14px;
	color: #b4ad9e;
	text-transform: uppercase;
}

.leftside-section__heading {
	font-family: 'PlayfairDisplayRegular';
	font-size: 30px;
	color: #626262;
	padding: 32px 0;
}

.leftside-section__content {
	color: #626262;
	text-transform: none;
	font-family: 'PlayfairDisplayRegular';
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 55px;
}

.playfairblack {
	font-family: 'PlayfairDisplayBlack';
}

.leftside {
	display: inline-block;
	width: 660px;
}

.leftside__section img {
	margin: 25px 0;
}

.leftside__section__quote {
	font-family: 'PlayfairDisplayItalic';
	font-size: 14px;
	padding: 17px;
	line-height: 150%;
	color: #626262;
}

.share__text {
	font-size: 13px;
	font-family: 'Ubuntu Light';
	color: #b4ad9e;
	text-transform: uppercase;
}

.share {
	list-style: none;
	padding: 0;
	overflow: hidden;
	margin: 0px;
}

.share li {
	display: inline-block;
	margin-right: 8px;
	vertical-align: middle;
}

.share a {
	text-decoration: none;
}

.share__facebook {
	background-image: url(../images/f.png);
	height: 17px;
	width: 18px;
}

.share__tweetter {
	background-image: url(../images/w.png);
	height: 17px;
	width: 18px;
}
.share__google {
	background-image: url(../images/g.png);
	height: 17px;
	width: 18px;
}
.share__tumbler {
	background-image: url(../images/t.png);
	height: 17px;
	width: 18px;
}
.share__pinterest {
	background-image: url(../images/p.png);
	height: 17px;
	width: 18px;
}

.share__instagram {
	background-image: url(../images/i.png);
	height: 17px;
	width: 18px;
}

.share__instagram1 {
	background-image: url(../images/instagram.png);
	height: 15px;
	width: 15px;
}
.share__twitter1 {
	background-image: url(../images/twitter.png);
	height: 13px;
	width: 18px;
}
.share__facebook1 {
	background-image: url(../images/facebook.png);
	height: 14px;
	width: 8px;
}

.rightside {
	display: inline-block;
	width: 280px;
}

.rightside__heading {
	color: #626262;
	font-family: 'PlayfairDisplayRegular';
	font-size: 24px;
	margin: 15px 0;
}

.rightside__content {
	font-family: 'PlayfairDisplayRegular';
	font-size: 12px;
}

.rightside .share{
	line-height: 97px;
}

.rightside-topposts__comments {
	text-transform: uppercase;
	font-family: 'Ubuntu Light';
	font-size: 12px;
	color: #b4ad9e;
	margin-top: 15px;
}

.rightside__topposts {
	font-family: 'PlayfairDisplayRegular';
	font-size: 16px;
	padding: 0 16px;
	color: #b4ad9e;
	margin-bottom: 55px;
}

.rightside__topposts li {
	margin-top: 30px;
}

.rightside__topposts a{
	color: #626262;
}

footer { 
	font-size: 14px;
	font-family: 'PlayfairDisplayRegular';
	height: 97px;
	line-height: 97px;
	background-color: #d9d9d9; 
	margin-top: 87px;
}

.links {
	list-style: none;
	display: inline;
	padding: 0;
}

.links li {
	margin-right: 10px;
	display: inline-block;
}

.links li:last-child {
	margin-right: 0px;
}