<article class="article">
	<div class="article__wrapper">
		<div class="article__postdate">{{post_date}}</div>
		<a href="#" class="category">{{category}}</a>
		<h2 class="article__postheader">{{header}}</h2>
		<hr >
		<p class="article__text">
			Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
		</p>
		<div class="article__footer">
			<a href="#" class="button verticalmiddle">read more</a>
			<ul class="tags verticalmiddle">
				<li><a class="tags__link" href="#"></a></li>
				<li><a class="tags__link" href="#"></a></li>
				<li><a class="tags__link" href="#"></a></li>
			</ul>
		</div>	
	</div>
</article>