{% extends "layout.html" %}
{% set navInactiveItem = 4%}
{% block main %}
		<article>
			<div class="article__wrapper">
				<section>
					<h2 class="section__postheader">
						Contact Us
					</h2>
					<p class="section__text">
						Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.
					</p>
					<hr >
					<form class="contacts" action="send.php" id="contacts">
						<input class="input" name="name" type="text" placeholder="Your Name">
						<input class="input" name="email" type="email" placeholder="Email">
						<input class="input contacts__subject" name="subject" type="text" placeholder="Subject">
						<textarea class="input textarea" name="message" placeholder="Your Message"></textarea>
					</form>
				</section>
				<div class="article__footer">
					<input class="button verticalmiddle" type="submit" value="send message" form="contacts">
					<ul class="tags verticalmiddle">
						<li><a class="tags__link" href="#">yosemite</a></li>
						<li><a class="tags__link" href="#">peak</a></li>
						<li><a class="tags__link" href="#">photo</a></li>
					</ul>
				</div>	
			</div>
		</article>
	</div>
{% endblock %}