a {
	color: black;
}

@font-face {
	font-family: 'FontAwesome';
	src: url(../fonts/fontawesome-webfont.ttf);
}

@font-face {
	font-family: 'OpenSans';
	src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
	font-family: 'Raleway-Medium';
	src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
	font-family: 'Raleway';
	src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
	font-family: 'Raleway-SemiBold';
	src: url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
	font-family: 'Roboto-Italic';
	src: url(../fonts/Roboto-Italic.ttf);
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url(../fonts/Roboto-Medium.ttf);
}

.wrapper {
	min-width: 1180px;
	max-width: 1600px;
	margin: 0 auto;
	position: relative;
}

.background {
	background-repeat: no-repeat;
	background-image: url(../images/background.png);
	height: 605px;
}

/* HEADER */

header {
	height: 95px;
	max-width: 1600px;
	padding: 0 210px;
	position: relative;
}

.logo {
	background-image: url(../images/Logo.png);
	height: 95px;
	width: 98px;
	display: inline-block;
}

.menu {
	position: absolute;
	display: inline-block;
	top: 50%;
	transform: translate(0,-50%);
}

.menu__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu__list a {
	font-size: 14px;
	font-family: "Raleway";
	color: rgb(242, 108, 79);
	font-weight: bold;
	text-transform: uppercase;
}

.menu__list li {
	display: inline-block;
	margin-left: 50px;
}

.menu__list li:first-child {
	margin-left: 30px;
}

.popup {
	background: url(../images/Menu.png);
	width: 70px;
	height: 68px;
	right: 0px;
	top: 0;
	position: absolute;
	cursor: pointer;
}

/* LEFT SIDE */

.leftside {
	position: relative;
	top: -61px;
	width: 59%;
	background-color: white;
	float: left;
}

.leftside--content {
	margin-left: 270px;
	margin-right: 60px;
}

.pagedesc {
	font-size: 15px;
	font-family: "Georgia";
	color: rgb(80, 109, 129);
	font-style: italic;
	line-height: 61px;
	margin-bottom: 67px;
}

.leftside__contactbtn a {
	background-color: rgb(242, 108, 79);
	position: absolute;
	right: 0px;
	top: 0px;
	width: 220px;
	height: 61px;
	font-size: 17px;
	text-transform: uppercase;
	line-height: 61px;
	font-family: "Roboto-Medium";
	color: rgb(255, 255, 255);
	text-align: center;
}

.contactbtn__arrow{
	font-family: 'FontAwesome';	
}

.leftside__title {
	font-size: 43px;
	font-family: "Raleway";
	color: rgb(21, 63, 96);
	text-transform: uppercase;
	margin: 30px 0;
}

.semititle {
	font-size: 20px;
	font-family: "Georgia";
	color: rgb(80, 109, 129);
	font-style: italic;
	line-height: 1.2;
	margin-bottom: 45px;
}

.leftside hr {
	margin-bottom: 70px;
}

.leftside article{
	margin-bottom: 75px;	
}

.leftside--article {
	margin-bottom: 40px;
    font-size: 14px;
    font-family: 'Open Sans';
    color: rgb(21, 63, 96);
    line-height: 22px;
}

/* RIGHT SIDE */

.rightside {
	width: 41%;
	background-color: rgb(26, 199, 195);
	display: inline-block;
}

.rightside--content {
	margin-top: 312px;
	margin-left: 57px;
	margin-right: 210px;
	margin-bottom: 390px;
	min-width: 420px;
}

.rightside__title {
	font-size: 30px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-bottom: 45px;
}

.rightside--img {
	background-image: url(../images/reg.jpg);
	height: 1016px;
}

.rightside__article {
	font-size: 14px;
    font-family: 'Roboto';
    color: rgb(255, 255, 255);
    font-style: italic;
    line-height: 29px;
}

/* FOOTER */

footer {
	height: 727px;
	margin-top: -475px;
	background-color: #f26c4f;
}

.footer--content {
	width: 580px;
	padding-left: 270px;
	padding-top: 105px;
}

.footer__title {
	font-size: 40px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-bottom: 45px;
	margin-top: 0;
}

.footer__semititle {
	font-size: 18px;
    font-family: "Georgia";
    color: rgb(255, 255, 255);
    font-style: italic;
    margin-bottom: 30px;
}

.footer__article {
	font-size: 14px;
	font-family: "Open Sans";
	color: rgb(255, 255, 255);
	line-height: 1.714;	
	margin-bottom: 40px;
}

.footer__contactbtn {
	height: 55px;
	width: 220px;
	background-color: white;
	text-align: center;
	margin-bottom: 166px;
}

.footer__contactbtn a{
	font-size: 17px;
	font-family: "Raleway-SemiBold";
	font-weight: bold;
	text-transform: uppercase;
	color: #f26c4f;
	line-height: 55px;
}

.contactbtn__arrow {
	font-family: 'FontAwesome';
}

.footer-text {
	font-size: 13px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
}