{% extends "layout.html" %}
{% set title = "Palo Alto"%}
{% set navInactiveItem = 1%}
{% block main %}
		<article class="article">
			<div class="article__wrapper">
				<div class="article__postdate">sep 20</div>
				<a href="#" class="category">i do travel</a>
				<h2 class="article__postheader">
					No difference how many peaks you reach if there was no pleasure in the climb.
				</h2>
				<hr >
				<p class="article__text">
					Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
				</p>
				<div class="article__footer">
					<a href="#" class="button verticalmiddle">read more</a>
					<ul class="tags verticalmiddle">
						<li><a class="tags__link" href="#">yosemite</a></li>
						<li><a class="tags__link" href="#">peak</a></li>
						<li><a class="tags__link" href="#">photo</a></li>
					</ul>
				</div>	
			</div>
		</article>
		<article class="article">
			<div class="mask">
					<img class="article__img" width="956" height="636" srcset="../images/mountains1x.jpg 1x, ../images/mountains2x.jpg 2x" alt="Горный закат">
					<a class="mask__button" href="#"></a>
			</div>
			<div class="article__wrapper">
				<div class="article__postdate">sep 18</div>
				<a href="#" class="category category_top">i do observe</a>
				<h2 class="article__postheader">
					You know, I'd rather argue with you, then laugh with anyone else.
				</h2>
				<hr>
				<p class="article__prologue">
					Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus. Proin aliquet ex massa, ac finibus magna commodo vitae.
				</p>
				<p class="article__text">
					Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
				</p>
				<p class="article__text">
					Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra. Curabitur semper scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat. Nulla odio mi, iaculis id congue quis, euismod id nisi. In varius congue diam, et viverra lorem bibendum ut.
				</p>
				<div class="article__footer">
					<a href="#" class="button verticalmiddle">read more</a>
					<ul class="tags verticalmiddle">
						<li><a class="tags__link" href="#">yosemite</a></li>
						<li><a class="tags__link" href="#">peak</a></li>
						<li><a class="tags__link" href="#">photo</a></li>
					</ul>
				</div>
			</div>
		</article>
		<article class="article">
			<div class="article__wrapper">
				<div class="article__postdate">sep 11</div>
				<a href="#" class="category">i do reflect</a>
				<h2 class="article__postheader">
					Democracy means simply the bludgeoning of the people by the people for the people.
				</h2>
				<hr>
				<div class="center">
					<div class="mask left">
							<img class="article__img" width="186" height="387" srcset="../images/img1x.jpg 1x, ../images/img2x.jpg 2x">
							<a class="mask__button" href="#"></a>
					</div>
				</div>
				<p class="article__text">
					Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
				</p>
				<p class="article__text">
					Mauris sem odio, rhoncus eget euismod sed, pellentesque sit amet felis. Praesent dictum eleifend dui et efficitur. Nunc non orci in neque sodales semper. Etiam euismod volutpat lorem, <a class="text__link" href="#">vestibulum malesuada</a> justo aliquet eget. Nunc lacus ante, varius a euismod eu, finibus commodo erat. Curabitur tincidunt sit amet nunc id interdum. Aliquam augue nisi, venenatis vitae ex at, lobortis fringilla nibh. Proin placerat enim vitae egestas eleifend. Aliquamquis orci dignissim, posuere nibh a, eleifend augue. Cras quis metus nec tortor aliquet ullamcorper. Quisque varius porta metus, ut maximus dolor euismod nec. Suspendisse sit amet feugiat turpis.
				</p>
				<p class="article__quote">
					Curabitur ut leo pulvinar, consectetur magna eu, feugiat purus. Morbi hendrerit lectus turpis, a porttitor velit imperdiet id.
				</p>
				<p class="article__text">
					Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor. Nullam scelerisque ante mauris, egestas commodo nisi gravida ultrices. Suspendisse dapibus feugiat tincidunt. Aliquam gravida quam at ipsum sagittis bibendum. 
				</p>
				<div class="article__footer">
					<a href="#" class="button verticalmiddle">read more</a>
					<ul class="tags verticalmiddle">
						<li><a class="tags__link" href="#">democracy</a></li>
						<li><a class="tags__link" href="#">inrospection</a></li>
					</ul>
				</div>
			</div>
		</article>
{% endblock %}