<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" type="image/png" href="./images/fav16x16.png" sizes="32x32"/>
	<link rel="shortcut icon" type="image/png" href="./images/fav32x32.png" sizes="16x16"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Palo Alto project">
	<meta name="keywords" content="Palo Alto, travel, Yosemite ">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="./vendor/vendor.css">
	<link rel="stylesheet" href="./styles/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
	<script src="http://mozilla.github.io/nunjucks/files/nunjucks.min.js"></script> 
	<script src="./javascript/scripts.js"></script>
</head>
<body>
	<div class="statusbar"></div>
	<div class="wrapper">
		<header>
			<a class="logo verticalmiddle" href="index.html"></a>
			<nav class="verticalmiddle header_nav">
				<ul class="menu header_menu">
					<li><a {% if navInactiveItem == 1 %}class="menu__link inactivelink"{% else %}class="menu__link"{% endif %} href="index.html">home</a></li>
					<li><a {% if navInactiveItem == 2 %}class="menu__link inactivelink"{% else %}class="menu__link"{% endif %} href="about.html">about</a></li>
					<li><a {% if navInactiveItem == 3 %}class="menu__link inactivelink"{% else %}class="menu__link"{% endif %} href="#">archive</a></li>
					<li><a {% if navInactiveItem == 4 %}class="menu__link inactivelink"{% else %}class="menu__link"{% endif %} href="contacts.html">contact</a></li>
					<li><a class="menu__linksearch" href="search.html"></a></li>
				</ul>
			</nav>
		</header>
	{% block main %}
	{% endblock %}
	</div>
	<footer>
		<div class="footer__wrapper">
			<a class="logo footer__logo" href="index.html"></a>
			<nav>
				<ul class="menu footer__menu">
					<li><a {% if navInactiveItem == 1 %}class="menu__link inactivelink"{% else %}class="menu__link"{% endif %} href="index.html">home</a></li>
					<li><a {% if navInactiveItem == 2 %}class="menu__link inactivelink"{% else %}class="menu__link"{% endif %} href="about.html">about</a></li>
					<li><a {% if navInactiveItem == 3 %}class="menu__link inactivelink"{% else %}class="menu__link"{% endif %} href="#">archive</a></li>
					<li><a {% if navInactiveItem == 4 %}class="menu__link inactivelink"{% else %}class="menu__link"{% endif %} href="contacts.html">contact</a></li>
					<li><a class="menu__linkfootersearch" href="search.html"></a></li>
				</ul>
			</nav>
			<hr class="footer__hr">
			<p class="text--footer">
				Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.
			</p>
			<hr class="footer__hr">
			<p class="copyright">
				© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <a href="#" class="copyright__team">PixelBuddha Team</a>
			</p>
			<ul class="social">
				<li><a class="social__facebook" href="#"></a></li>
				<li><a class="social__tweetter" href="#"></a></li>
				<li><a class="social__instagram" href="#"></a></li>
				<li><a class="social__pinterest" href="#"></a></li>
			</ul>
		</div>
	</footer>
</body>

</html>